@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Serif JP', serif;
    max-width: 990px;
    margin: 0px auto;
}

#background{
    background-image: url(../img/hdh.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 990px;
    height: 4000px;
}
.judul{
    position: relative;
    padding-top: 70px;
    padding-left: 7px;
}

.banner img {
    width: 200px;
}
.ramen{
    padding-bottom: 2000px;
    margin-left: 63%;
    position: absolute;
}
.karedok{
    margin-top: 50px;
    margin-left: 390px;
}
.hitsu{
    margin-bottom: 2100px;
    margin-left: 180px;
    z-index: 1;
    position: absolute;
}
.tombol{
    margin-bottom: 160px;
    left: 630px;
    position: absolute
}
.sliding{
    position: absolute;
    left: 600px;
}

.top-acc{
    position: absolute;
    top: 2px;
}
.top-kanan{
    position: absolute;
    top: 2px;
    right: 24%;
}
.top-acc{
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.top-kanan{
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.menu-bg{
    position: absolute;
    top: 81%;
}
.menu-opt{
    position: absolute;
}
.kare{
    bottom: -290px;
    left: 100px;
    position: absolute;
}
.ushi{
    bottom: -275px;
    left: 365px;
    position: absolute;
}
.ushi:hover{
    opacity: 70%;
}
.hitsume{
    bottom: -290px;
    left: 630px;
    position: absolute;
}
.txt-kare p{
    position: absolute;
    font-family: 'Noto Serif JP', serif;
    margin: auto;
    bottom: -77%;
    left: 47%;
    font-size: 22px;
    line-height: 2;
}
.kare:hover{
    opacity: 70%;
}
.hitsume:hover{
    opacity: 70%;
}
.kupon:hover{
    opacity: 70%;
}

.txt-ushi {
    position: absolute;
    font-family: 'Noto Serif JP', serif;
    margin: auto;
    top: 210%;
    left: 47%;
    font-size: 22px;
    line-height: 2;
    z-index: 1;
}
.glass{
    position: absolute;
    width: 500px;
    height: 380px;
    top: calc(150% - 100px);
    left: calc(50% - 65px);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
}
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(1.5px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.37);
}
.glass-1{
    position: absolute;
    width: 500px;
    height: 350px;
    top: calc(220% - 100px);
    left: calc(50% - 65px);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
}
.glass-1{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(1.5px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.37);
}
.glass2{
    position: absolute;
    width: 500px;
    height: 385px;
    top: calc(280% - 100px);
    left: calc(50% - 65px);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
}
.glass2{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(1.5px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.37);
}
#txt-hitsuma p{
    position: absolute;
    font-family: 'Noto Serif JP', serif;
    margin: auto;
    top: 270%;
    left: 47%;
    font-size: 22px;
    line-height: 2;
}
#coupon{
    position: absolute;
    top: 350%;
    left: 500px;
    z-index: 1;
}
.access h1{
    position: absolute;
    font-family: 'Noto Serif JP', serif;
    margin: auto;
    top: 377%;
    left: 498px;
    font-size: 22px;
    line-height: 2;
    font-size: 30px;
    font-style: bold;
    z-index: 1;
}

.line{
    top: 319%;
    position: absolute;
}
.btm-acc{
    position: absolute;
    top: 75%;
}
.btm-kanan{
    position: absolute;
    top: 73%;
    right: 1%;
}
.btm-acc{
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.btm-kanan{
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}
.coupon:hover{
    opacity: 30;
}
.akses{
    margin-top: 3230px;
    font-size: 21px;
    z-index: 10;
    position: absolute;
    margin-left: 90px;
}
.glass-btm{
    position: absolute;
    width: 860px;
    height: 250px;
    top: calc(395% - 100px);
    left: calc(50% - 430px);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
}
.glass-btm{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(1.5px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.37);
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.page{
    margin-top: -90%;
}
.anim span{
    display: inline-block;
    height: 30px;
    width: 75px;
    margin: -150px 40px 54px  -34px;
    background:url("/img/bu.png");
    animation: anim 10s infinite  linear;
}
.anim span:nth-child(7h) {
    animation-delay: 2.5s;
}
.anim span:nth-child(7n-1) {
    animation-delay: 1.0s;
}
.anim span:nth-child(7n-2) {
    animation-delay: 3.5s;
}
.anim span:nth-child(7n-3) {
    animation-delay: 5.0s;
}
.anim span:nth-child(7n-4) {
    animation-delay: 1.5s;
}
.anim span:nth-child(7n-5) {
    animation-delay: 7.0s;
}
.anim span:nth-child(7n-6) {
    animation-delay: 9.5s;
}

@keyframes anim{
    0% {
        width: 75px;
        height: 75px;
        opacity: 1;                    
        transform: translate(0, 0px) rotateZ(0deg);
    }
    75% {
        width: 75px;
        height: 75px;
        opacity: 1;
        transform: translate(100px, 900px) rotateZ(270deg); 
    }
    100% {
        width: 75px;
        height: 75px;
        opacity: 0;                   
        transform: translate(150px, 900px) rotateZ(360deg);
    }
}